# postgres Dev
# DATABASE_URL="postgresql://postgres:root@postgres:5432/restaurant?schema=public"

# mongo Dev
DATABASE_URL="mongodb://root:root@localhost:27017/restaurant?authSource=admin"

# mongo Pro - Atlas Example
DATABASE_URL="mongodb+srv://{username}:{password}.{host}/{database}?retryWrites=true&w=majority"